<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Coche</title>
</head>
<body>
<div class="container">
    <h1>Configuracion de Coche</h1>
    <hr>
    <h2> Guardar Coche</h2>
    <form action="#" th:action = "@{/saveCoche}" th:object="${vehicle}" method="POST">
        <input type="text" th:field="*{matricula}"
               placeholder="Matricula" class="form-control mb-4 w-25">
        <input type="text" th:field="*{marca}"
               placeholder="Marca" class="form-control mb-4 w-25">
        <input type="text" th:field="*{modelo}"
               placeholder="Modelo" class="form-control mb-4 w-25">
        <input type="text" th:field="*{plazas}"
               placeholder="Plazas" class="form-control mb-4 w-25">
        <input type="text" th:field="*{puertas}"
               placeholder="Puertas" class="form-control mb-4 w-25">

        <button type="submit" class="btn btn-info"> Guardar Coche</button>
    </form>

</div>
</body>
</html>